<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <include th:replace="views/components/metas :: metas"></include>
    <include th:replace="views/components/styles :: styles"></include>

    <!--form-rounded-->
    <link rel="stylesheet" th:href="@{../../vendors/assets/stylerounded.css}">
    <link rel="stylesheet" th:href="@{../../vendors/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{../../vendors/plugins/bootstrap4/css/bootstrap.min.css}">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- navbar -->
    <include th:replace="views/components/navbar :: navbar"></include>
    <!-- sidebar -->
    <include th:replace="views/components/sidebar :: sidebar"></include>

    <!-- content wrapper -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6 animated bounceInRight">
                        <a href="" data-toggle="modal" data-target="#add" class="btn bg-lightblue btn-flat"><i
                                class="fas fa-plus-square"></i> Add Schedule</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Schedule Information</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content Header (Page header) -->

        <!-- Main content -->
        <section class="content">
            <!--contain table-->
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card card-lightblue card-outline">
                                <div class="card-body">
                                    <div class="box box-primary">
                                        <div class="box-body">
                                            <table class="table table-bordered table-hover text-center" width="100%">
                                                <thead>
                                                <tr>
                                                    <th>Schedule Code</th>
                                                    <th>Instructor</th>
                                                    <th>Amount</th>
                                                    <th>No Of Slots</th>
                                                    <th>Schedule Date</th>
                                                    <th>Remarks</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <div th:if="!${#lists.isEmpty(schedules)}">
                                                    <tr th:each="row :${schedules}">
                                                        <td th:text="${row.scheduleCode}"></td>
                                                        <td th:text="${row.instructorName}"></td>
                                                        <td th:text="${row.amount}"></td>
                                                        <td th:text="${row.numberOfSlots}"></td>
                                                        <td th:text="${#dates.format(row.scheduleDate,'yyyy/MM/dd')}"></td>
                                                        <td th:text="${row.remarks}"></td>
                                                        <td>
                                                            <div class="btn-group btn-group-sm">
                                                                <a th:href="@{/schedules/findById/(id=${row.id})}"
                                                                   data-toggle="modal" data-target="#editButton"
                                                                   class="btn btn-outline-success btn-xs"><i
                                                                        class="fa fa-pencil-alt"></i></a>

                                                                <a th:href="@{/schedules/delete/(id=${row.id})}"
                                                                   data-toggle="modal" data-target="#deleteModal"
                                                                   id="deleteButton"
                                                                   style="margin-left: 5px"
                                                                   class="btn btn-outline-danger btn-xs"><i
                                                                        class="fas fa-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </div>
                                                <div th:if="${#lists.isEmpty(schedules)}">
                                                    <tr>
                                                        <td>No schedules exists!</td>
                                                    </tr>
                                                </div>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end contain table-->


            <!--add modal-->
            <div class="modal fade" id="add" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/schedules/create}" method="post">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Add Schedule</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="scheduleCodeAdd" class="col-form-label">Schedule Code:</label>
                                    <input type="text" class="form-control form-rounded" id="scheduleCodeAdd" name="scheduleCode">
                                </div>

                                <div class="form-group">
                                    <label for="instructorAdd" class="col-form-label">Instructor:</label>
                                    <select class="form-control form-rounded" id="instructorAdd" name="instructorName"
                                            required>
                                        <option>-SELECT-</option>
                                        <option th:each="row : ${instructors}" th:text="${row.instructorName}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="amountAdd" class="col-form-label">Amount:</label>
                                    <input type="number" class="form-control form-rounded" id="amountAdd" name="amount"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label for="numberOfSlotAdd" class="col-form-label">Number of Slots:</label>
                                    <input type="number" class="form-control form-rounded" id="numberOfSlotAdd"
                                           name="numberOfSlots" required>
                                </div>

                                <div class="form-group">
                                    <label for="dateAdd" class="col-form-label">Date</label>
                                    <input type="date" class="form-control form-rounded" id="dateAdd" name="scheduleDate" required>
                                </div>

                                <div class="form-group">
                                    <label for="remarksAdd" class="col-form-label">Remarks:</label>
                                    <input type="text" class="form-control form-rounded" id="remarksAdd" name="remarks" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-purple btn-flat">
                                    <i class="fa fa-save"></i> Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end add modal-->


            <!--edit modal-->
            <div class="modal fade" id="editButton" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <form th:action="@{/schedules/update}" method="put">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Update Schedule</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="idEdit" class="col-form-label">Id:</label>
                                    <input type="text" class="form-control form-rounded" id="idEdit" name="id" readonly>
                                </div>

                                <div class="form-group">
                                    <label for="scheduleCodeEdit" class="col-form-label">Schedule Code:</label>
                                    <input type="text" class="form-control form-rounded" id="scheduleCodeEdit"
                                           name="scheduleCode">
                                </div>

                                <div class="form-group">
                                    <label for="instructorEdit" class="col-form-label">Instructor:</label>
                                    <select class="form-control form-rounded" id="instructorEdit" name="instructorName" required>
                                        <option>-SELECT-</option>
                                        <option th:each="row : ${instructors}" th:text="${row.instructorName}"></option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="amountEdit" class="col-form-label">Amount:</label>
                                    <input type="number" class="form-control form-rounded" id="amountEdit" name="amount" required>
                                </div>

                                <div class="form-group">
                                    <label for="numberOfSlotEdit" class="col-form-label">Number of Slots:</label>
                                    <input type="number" class="form-control form-rounded" id="numberOfSlotEdit"
                                           name="numberOfSlots" required>
                                </div>

                                <div class="form-group">
                                    <label for="scheduleDateEdit" class="col-form-label">Date</label>
                                    <input type="date" class="form-control form-rounded" id="scheduleDateEdit" name="scheduleDate" required>
                                </div>

                                <div class="form-group">
                                    <label for="remarksEdit" class="col-form-label">Remarks:</label>
                                    <input type="text" class="form-control form-rounded" id="remarksEdit" name="remarks" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                                <button type="submit" class="btn bg-green btn-flat">
                                    <i class="fa fa-pencil"></i> Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end edit modal-->

            <!-- delete modal -->
            <div id="deleteModal" class="modal fade delete-modal animated rubberBand" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="../../../vendors//assets/img/sent.png" alt="" width="50" height="46">
                            <h3>Are you sure want to delete this Records?</h3>
                            <div class="m-t-20">
                                <a type="#" class="btn btn-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</a>
                                <a type="submit" class="btn btn-danger" id="delRef"><i class="fa fa-trash"></i>
                                    Delete</a>
                                <input type="hidden" name="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end pop up delete-->


        </section>
        <!--end of main content-->

    </div>
    <!-- end content wrapper -->


    <!--footer-->
    <include th:replace="views/components/footer :: footer"></include>
</div>
<include th:replace="views/components/scripts :: scripts"></include>


<!--delete modal-->
<script>
    /** Delete Modal **/
    $('document').ready(function () {

        /** Delete Modal **/
        $('.table #deleteButton').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $('#deleteModal #delRef').attr('href', href);
            $('#deleteModal').modal();
        });

    });
</script>

<!--edit modal-->
<script>

    $('document').ready(function () {

        $('.table .btn-outline-success').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (schedules, status) {
                $('#idEdit').val(schedules.id);
                $('#scheduleCodeEdit').val(schedules.scheduleCode);
                $('#instructorEdit').val(schedules.instructorName);
                $('#amountEdit').val(schedules.amount);
                $('#numberOfSlotEdit').val(schedules.numberOfSlots);

                var sched = schedules.scheduleDate.substr(0,10);
                $('#scheduleDateEdit').val(sched);
                $('#remarksEdit').val(schedules.remarks);


            });
            $('#editModal').modal();
        });

    });
</script>

</body>
</html>